# This is a basic workflow to help you get started with Actions

name: Build-Push POI API image; Deploy 2 staging

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
    paths: 
      - apis/poi/**

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  docker_build_and_push:
    # Execute this workflow only when code changes are pushed/merged to the master branch!
    if: github.ref == 'refs/heads/master'
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Login to GitHub docker registry (not GHCR.io !)
      - name: Docker login
        run: docker login $registry -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.GITHUB_TOKEN }}

      # Run docker build
      - name: Docker build
        run: docker build -t $registry/$repository:${{github.run_number}} --build-arg build_version=${{github.run_number}} $docker_path
      
      # Run docker push
      - name: Docker push
        run: docker push $registry/$repository:${{github.run_number}}
      
      # List the images in your repo
      - name: Docker image list
        run: docker image ls $registry/$repository
