name: Build-Test POI API .NET Core

env:
  poi_path: apis/poi/**
  registry: docker.pkg.github.com
  repository: ganrad/openhack-devops-team-20/api-poi
  docker_path: apis/poi/web
  staging_url: https://openhackvm13xxh0poi-staging.azurewebsites.net/
  prod_url: https://openhackvm13xxh0poi.azurewebsites.net/
  resource_group: openhackvm13xxh0rg
  webapp_name: openhackvm13xxh0poi
  build_name: POI  
on:
  push:
    branches: [ master ]
    paths: 
      - apis/poi/**
      - .github/workflows/poi-api.yml
      
  pull_request:
    branches: [ master ]
    paths: 
      - apis/poi/**
      - .github/workflows/poi-api.yml
      
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1
    - name: Add Code Coverage Tools
      working-directory: apis/poi/tests/UnitTests
      run: dotnet add package coverlet.msbuild
      
    - name: Install dependencies
      run: dotnet restore apis/poi/web/*.csproj
    
    - name: .NET Build Web
      run: dotnet build --configuration Release --no-restore apis/poi/web/*.csproj
    
    # - name: .NET Build Unit Tests
      #run: dotnet build --configuration Release --no-restore apis/poi/tests/UnitTests/UnitTests.csproj
      
    #- name: .NET Test
      #run: dotnet test --no-restore --verbosity normal apis/poi/tests/UnitTests /p:CoverletOutput=lcov/ /p:CoverletOutput=lcov
